@page "/radio-schedule"
<Jumbotron Background="Background.Dark" Border="Border.Rounded" TextColor="TextColor.Light" Margin="Margin.Is2.FromTop.OnDesktop.Is1.FromTop.OnMobile">
    <JumbotronTitle Casing="CharacterCasing.Title" Size="JumbotronTitleSize.Is4">
        Radio Schedule
    </JumbotronTitle>
    <JumbotronSubtitle>
        View Radios and which staff member has them checked out
    </JumbotronSubtitle>
    <Divider />
</Jumbotron>

<Divider />

<DataGrid @ref="@_dataGrid"
          TItem="RadioScheduleReader"
          ReadData="@OnReadData"
          Data="@_gridDisplay"
          TotalItems="@_totalRadios"
          Editable
          CommandMode="DataGridCommandMode.Commands"
          Class="table table-dark styled-table border-light border-2 rounded-2 shadow-lg"
          Responsive
          Sortable
          Hoverable
          Striped
          EditMode="DataGridEditMode.Popup"
          FixedHeader
          FixedHeaderDataGridHeight="400px"
          HeaderThemeContrast="ThemeContrast.Light"
          @bind-SelectedRow="@_selectedRadio"
          RowStyling="@OnRowStyling"
          ShowPager
          PagerPosition="DataGridPagerPosition.Bottom"
          ShowPageSizes
          CurrentPage="CurrentPage"
          PageChanged="e => CurrentPage = e.Page"
          DetailRowTrigger="@(context => context.Item.Id == _selectedRadio?.Id)"
          >
    <PopupTitleTemplate>
        @SetPopupTitle(context);
    </PopupTitleTemplate>
    <LoadingTemplate>
        <Span>
            <SpinKit Type="SpinKitType.Grid" Color="#ab3ed8" Centered/>
        </Span>
    </LoadingTemplate>
    <EmptyTemplate>
        <Span>
            <Paragraph>
                <Heading Size="HeadingSize.Is5" TextColor="TextColor.Danger">No Radios found!</Heading>
            </Paragraph>
        </Span>
    </EmptyTemplate>
    <DataGridAggregates>
        <DataGridAggregate TItem="RadioScheduleReader" Field="@nameof(RadioScheduleReader.IsCheckedIn)" AggregationFunction="@(DataGridAggregate<RadioScheduleReader>.FalseCount)">
            <DisplayTemplate>
                <Text TextColor="TextColor.White50" Italic>@($"Total Checked Out Radios: {context.Value}")</Text>
            </DisplayTemplate>
        </DataGridAggregate>
        <DataGridAggregate TItem="RadioScheduleReader" Field="@nameof(RadioScheduleReader.IsCharging)"
                           AggregationFunction="@(DataGridAggregate<RadioScheduleReader>.TrueCount)">
            <DisplayTemplate>
                <Text TextColor="TextColor.White50" Italic>@($"Total Charging Radios: {context.Value}")</Text>
            </DisplayTemplate>
        </DataGridAggregate>
    </DataGridAggregates>
    <DataGridColumns>
        <DataGridCommandColumn TItem="RadioScheduleReader">
            <NewCommandTemplate>
                <Blazorise.Bootstrap5.Button Color="Color.Success" Border="Border.Dark.OnAll.Is1.Rounded" Shadow="Shadow.Default" Clicked="@context.Clicked">@context.LocalizationString</Blazorise.Bootstrap5.Button>
            </NewCommandTemplate>
            <SaveCommandTemplate>
                <Blazorise.Bootstrap5.Button Color="Color.Primary" Border="Border.Dark.OnAll.Is1.Rounded" Shadow="Shadow.Default" Clicked="@context.Clicked">@context.LocalizationString</Blazorise.Bootstrap5.Button>
            </SaveCommandTemplate>
            <CancelCommandTemplate>
                <Blazorise.Bootstrap5.Button Color="Color.Secondary" Border="Border.Dark.OnAll.Is1.Rounded" Shadow="Shadow.Default" Clicked="@context.Clicked">@context.LocalizationString</Blazorise.Bootstrap5.Button>
            </CancelCommandTemplate>
            <EditCommandTemplate>
                <Blazorise.Bootstrap5.Button Color="Color.Primary" Margin="Margin.Is2.OnX.OnDesktop.Is1.OnX.OnMobile" Padding="Padding.Is1.OnAll" Border="Border.Dark.OnAll.Is1.Rounded" Shadow="Shadow.Default" Clicked="@context.Clicked">@context.LocalizationString</Blazorise.Bootstrap5.Button>
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Blazorise.Bootstrap5.Button Color="Color.Default" Display="Display.None"></Blazorise.Bootstrap5.Button>
            </DeleteCommandTemplate>
        </DataGridCommandColumn>
        <DataGridColumn TItem="RadioScheduleReader" Field="@nameof(RadioScheduleReader.RadioNumber)" Caption="Radio Number" Sortable="true" Editable="true">
            <DisplayTemplate>
                @context.RadioNumber
            </DisplayTemplate>
            <EditTemplate>
                <TextEdit Text="@_selectedRadio.RadioNumber"></TextEdit>
            </EditTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="RadioScheduleReader" Field="LastStaffToHave.Contact.PreferredName" Caption="Last Staff To Have" Sortable="true" Editable="true">
            <DisplayTemplate>
                @(_staffMembers.FirstOrDefault(st => st.Id == context.LastStaffToHave?.Id)?.ContactInformation.PreferredName ?? String.Empty)
            </DisplayTemplate>
            <EditTemplate>
                <SelectList TItem="@StaffReader"
                            TValue="Guid"
                            Data="@_staffMembers"
                            TextField="@(item => $"{item.ContactInformation.LastName}, {item.ContactInformation.PreferredName}")"
                            ValueField="@(item => item.Id)"
                            SelectedValue="@_selectedStaffMember"
                            SelectedValueChanged="@OnSelectedStaffMemberChanged"
                            DefaultItemText="Choose a Staff Member"/>
            </EditTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="RadioScheduleReader" Field="Location.Name" Caption="Starting Location" Sortable="true" Editable="true">
            <DisplayTemplate>
                @(_locations.FirstOrDefault(l => l.Id == context.Location?.Id)?.Name ?? String.Empty)
            </DisplayTemplate>
            <EditTemplate>
                <SelectList TItem="@LocationReader"
                            TValue="Guid"
                            Data="@_locations"
                            TextField="@(item => item.Name)"
                            ValueField="@(item => item.Id)"
                            SelectedValue="@_selectedStartingLocation"
                            SelectedValueChanged="@OnSelectedStartingLocationChanged"
                            DefaultItemText="Choose where the radio will start"/>
            </EditTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="RadioScheduleReader" Field="@nameof(RadioScheduleReader.CheckedInAt)" Caption="Checked In At" Sortable="true" Editable="true">
            <DisplayTemplate>
                @context.CheckedInAt
            </DisplayTemplate>
            <EditTemplate>
                <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" Date="@_selectedStartDate" DateChanged="@OnStartDateChanged" Placeholder="@DateTime.Now.ToString(CultureInfo.CurrentCulture)">
                </DatePicker>
            </EditTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="RadioScheduleReader" Field="@nameof(RadioScheduleReader.CheckedOutAt)" Caption="Checked Out At" Sortable="true" Editable="true">
            <DisplayTemplate>
                @context.CheckedOutAt
            </DisplayTemplate>
            <EditTemplate>
                <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" Date="@_selectedEndDate" DateChanged="@OnEndDateChanged" Placeholder="@DateTime.Now.ToString(CultureInfo.CurrentCulture)">
                </DatePicker>
            </EditTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="RadioScheduleReader" Field="@nameof(RadioScheduleReader.IsCheckedIn)" Caption="Currently Checked In" Sortable="false" Editable="true">
            <DisplayTemplate>
                <i class="far @DetermineDisplayIcon(context.IsCheckedIn)"></i>
            </DisplayTemplate>
            <EditTemplate>
                <Blazorise.Bootstrap5.Check TValue="bool" Checked="context.Item.IsCheckedIn" Disabled="false" ReadOnly="false"/>
            </EditTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="RadioScheduleReader" Field="@nameof(RadioScheduleReader.IsCharging)" Caption="Charging" Sortable="false" Editable="true">
            <DisplayTemplate>
                <i class="far @DetermineDisplayIcon(context.IsCharging)"></i>
            </DisplayTemplate>
            <EditTemplate>
                <Blazorise.Bootstrap5.Check TValue="bool" Checked="context.Item.IsCharging" Disabled="false" ReadOnly="false"/>
            </EditTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>
