@page "/room-schedule"
<Jumbotron Background="Background.Dark" Border="Border.Rounded" TextColor="TextColor.Light" Margin="Margin.Is2.FromTop.OnDesktop.Is1.FromTop.OnMobile">
    <JumbotronTitle Casing="CharacterCasing.Title" Size="JumbotronTitleSize.Is4">
        Room Schedule
    </JumbotronTitle>
    <JumbotronSubtitle>
        View Currently Available and Occupied Rooms
    </JumbotronSubtitle>
    <Divider />
</Jumbotron>

<Divider />
<DataGrid @ref="_dataGrid"
          CommandMode="DataGridCommandMode.Commands"
          RowStyling="OnRowStyling"
          Responsive
          Sortable
          Filterable
          Editable
          EditMode="DataGridEditMode.Popup"
          Hoverable
          Narrow
          Striped
          FixedHeader
          @bind-SelectedRow="@_selectedRoom"
          Class="table-dark styled-table border-light border-2 rounded-2 shadow-lg"
          HeaderThemeContrast="ThemeContrast.Light"
          FixedHeaderDataGridHeight ="70%"
          FixedHeaderDataGridMaxHeight="80vh"
          DetailRowTrigger="@(context => context.Item.Id == _selectedRoom?.Id)"
          ReadData="OnReadData"
          Data="_gridDisplay"
          TItem="RoomScheduleReader"
          ShowPager
          ShowPageSizes
          PagerPosition="DataGridPagerPosition.TopAndBottom"
          CurrentPage="1"
          PageSize="10"
          TotalItems="_totalRooms">
    <PopupTitleTemplate>
        @SetPopupTitle(context);
    </PopupTitleTemplate>
    <LoadingTemplate>
        <Div>
            <SpinKit Type="SpinKitType.Grid" Color="#ab3ed8" Size="3em"/>
        </Div>
    </LoadingTemplate>
    <EmptyTemplate>
        <Div>
            <Paragraph>
                <Heading Size="HeadingSize.Is5" TextColor="TextColor.Danger">No Rooms found!</Heading>
            </Paragraph>
        </Div>
    </EmptyTemplate>
    <DataGridColumns>
        <DataGridCommandColumn TItem="RoomScheduleReader">
            <NewCommandTemplate>
                <Button Color="Color.Success" Border="Border.Dark.OnAll.Is1.Rounded" Shadow="Shadow.Default" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </NewCommandTemplate>
            <SaveCommandTemplate>
                <Button Color="Color.Primary" Border="Border.Dark.OnAll.Is1.Rounded" Shadow="Shadow.Default" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </SaveCommandTemplate>
            <CancelCommandTemplate>
                <Button Color="Color.Secondary" Border="Border.Dark.OnAll.Is1.Rounded" Shadow="Shadow.Default" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </CancelCommandTemplate>
            <EditCommandTemplate>
                <Button Color="Color.Primary" Margin="Margin.Is2.OnX.OnDesktop.Is1.OnX.OnMobile" Padding="Padding.Is1.OnAll" Border="Border.Dark.OnAll.Is1.Rounded" Shadow="Shadow.Default" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Button Color="Color.Default" Display="Display.None"></Button>
            </DeleteCommandTemplate>
        </DataGridCommandColumn>
        <DataGridNumericColumn TItem="RoomScheduleReader" Field="@nameof(RoomScheduleReader.Number)" Caption="Room Number" Sortable Editable>
            <DisplayTemplate>
                Floor @context.Floor : Room Number  @context.Number
            </DisplayTemplate>
            <EditTemplate>
                <Row Border="Border.Is1.Rounded.Dark.OnAll" Margin="Margin.Is2.OnY.OnWidescreen.Is3.OnY.OnMobile">
                    <Column Flex="Flex.Column.JustifyContent.Between">
                        <Field>
                            <FieldLabel>Floor</FieldLabel>
                            <NumericPicker TValue="Int32?" />
                        </Field>
                        <Field>
                            <FieldLabel>Number</FieldLabel>
                            <NumericPicker TValue="Int32?" />
                        </Field>
                    </Column>
                </Row>
            </EditTemplate>
        </DataGridNumericColumn>
        <DataGridNumericColumn TItem="RoomScheduleReader" Field="@nameof(RoomScheduleReader.Keys)" Caption="Keys given out" Sortable Editable>
            <DisplayTemplate>
                @context.Keys
            </DisplayTemplate>
            <EditTemplate>
                <NumericPicker TValue="Int32?" />
            </EditTemplate>
        </DataGridNumericColumn>
        <DataGridNumericColumn TItem="RoomScheduleReader" Field="@nameof(RoomScheduleReader.ProvidedKeys)" Caption="Provided Keys" Editable>
            <DisplayTemplate>
                @context.ProvidedKeys
            </DisplayTemplate>
            <EditTemplate>
                <NumericPicker TValue="Int32?" />
            </EditTemplate>
        </DataGridNumericColumn>
    </DataGridColumns>
    <PageButtonTemplate>
        <Span TextColor="TextColor.Light">
            @context.PageNumer
        </Span>
    </PageButtonTemplate>
    <NextPageButtonTemplate><Icon Name="IconName.StepForward" TextColor="TextColor.Light" /></NextPageButtonTemplate>
    <PreviousPageButtonTemplate><Icon Name="IconName.StepBackward" TextColor="TextColor.Light" /></PreviousPageButtonTemplate>
    <LastPageButtonTemplate><Icon Name="IconName.Forward" TextColor="TextColor.Light" /></LastPageButtonTemplate>
    <FirstPageButtonTemplate><Icon Name="IconName.Backward" TextColor="TextColor.Light" /></FirstPageButtonTemplate>
    <TotalItemsTemplate><Badge Color="Color.Success">@context.TotalItems Rooms</Badge></TotalItemsTemplate>
    <ItemsPerPageTemplate></ItemsPerPageTemplate>
</DataGrid>
