<Bar Breakpoint="Breakpoint.Desktop"
     @bind-Visible="@_isTopbarVisible"
     Background="Background.Dark"
     ThemeContrast="ThemeContrast.Light"
     Shadow="Shadow.Default"
     Border="Border.Dark.OnBottom.RoundedBottom.Is1">
    <BarMenu>
        <BarStart>
            <BarItem>
                <Addons>
                    <Addon AddonType="AddonType.Start">
                        <AddonLabel>
                            <BarIcon IconName="IconName.Language" IconSize="IconSize.Small" IconStyle="IconStyle.Regular" />
                        </AddonLabel>
                    </Addon>
                    <Addon AddonType="AddonType.Body">
                        <SelectList TItem="@CultureInfo"
                                    TValue="CultureInfo"
                                    Data="@LocalizationService.AvailableCultures"
                                    TextField="@((item) => item.DisplayName)"
                                    ValueField="@((item) => item)"
                                    SelectedValue="@_selectedCultureName"
                                    SelectedValueChanged="@SelectedCultureChanged"
                                    DefaultItemText="@CultureInfo.CurrentCulture.DisplayName" />
                    </Addon>
                </Addons>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Buttons Role="ButtonsRole.Toolbar" Flex="Flex.Row">
                    <Button Color="Color.Primary">Sign up</Button>
                    <Button Color="Color.Secondary">Log in</Button>
                </Buttons>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <Paragraph TextColor="TextColor.Light">
                            <Blazorise.Icon Name="IconName.Tint" /> Theme
                        </Paragraph>
                    </BarDropdownToggle>
                    <BarDropdownMenu Style="padding: 15px; min-width: 550px;" RightAligned="true">
                        <Row>
                            <Column Margin="Margin.Is2.FromBottom">
                                <Field>
                                    <Switch TValue="bool" Checked="@(Theme?.Enabled == true)" CheckedChanged="@ThemeEnabledChanged">Theme enabled</Switch>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column Margin="Margin.Is2.FromBottom">
                                <Field>
                                    <Check TValue="bool" Checked="@(Theme?.IsGradient == true)" CheckedChanged="@ThemeGradientChanged">Gradient colors</Check>
                                </Field>
                                <Field>
                                    <Check TValue="bool" Checked="@(Theme?.IsRounded == true)" CheckedChanged="@ThemeRoundedChanged">Rounded elements</Check>
                                </Field>
                            </Column>
                        </Row>
                        <Row>
                            <Column>
                                <Container Fluid="true">
                                    <ThemeChangeComponent Value="@(Theme?.ColorOptions?.Primary)" ValueChanged="@ThemeColorChanged"></ThemeChangeComponent>
                                </Container>
                            </Column>
                        </Row>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>