@page "/newStaff"
<Jumbotron
    Background="Background.Dark"
    TextAlignment="TextAlignment.Center"
    Border="Border.Is3.Light.OnAll.Rounded"
    Shadow="Shadow.Default"
    Margin="Margin.Is2.OnY"
    TextColor="TextColor.Light">
    <JumbotronTitle Size="JumbotronTitleSize.Is3">Add a Security Staff Member to the Registry</JumbotronTitle>
    <JumbotronSubtitle TextColor="TextColor.White50">(Staff member may not show up immediately)</JumbotronSubtitle>
</Jumbotron>
<Container Fluid
           Margin="Margin.Is2.OnY"
           Border="Border.Is3.OnAll.Rounded.Light"
           Background="Background.Dark">
    <Form Background="Background.Transparent"
          TextColor="TextColor.Light">
        <CardDeck Width="Width.Is100">
            <Card Background="Background.Transparent"
                  Height="Height.Is100"
                  Border="Border.Is0.OnTop.Is0.OnBottom.Is0.OnStart.Is2.Light.OnEnd.RoundedEnd">
                <CardTitle TextAlignment="TextAlignment.Start" Size="3">Contact Information</CardTitle>
                <CardBody>
                    <Row>
                        <Column ColumnSize="ColumnSize.IsHalf">
                            <Field Horizontal>
                                <FieldLabel>
                                    First Name
                                </FieldLabel>
                                <Field>
                                    <TextEdit @bind-Text="_firstName"/>
                                </Field>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel>
                                    Last Name
                                </FieldLabel>
                                <Field>
                                    <TextEdit @bind-Text="_lastName"/>
                                </Field>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel>
                                    Pronouns
                                </FieldLabel>
                                <Field>
                                    @if (!_pronouns.Any())
                                    {
                                        <Span>
                                            <SpinKit Type="SpinKitType.Chase" Color="#ce2029" Centered/>
                                            Loading...
                                        </Span>

                                    }
                                    else
                                    {
                                        <Select @bind-SelectedValue="_pronounId">
                                            <Repeater TItem="Pronoun" Items="_pronouns">
                                                <SelectItem TValue="Int32" Value="@context.Id">
                                                    @context.Name
                                                </SelectItem>
                                            </Repeater>
                                        </Select>
                                    }
                                </Field>
                            </Field>
                        </Column>
                        <Column ColumnSize="ColumnSize.IsHalf">
                            <Field Horizontal>
                                <FieldLabel>
                                    Email Address
                                </FieldLabel>
                                <Field>
                                    <TextEdit @bind-Text="_email" Role="TextRole.Email"/>
                                </Field>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel>
                                    Phone Number
                                </FieldLabel>
                                <Field>
                                    <TextEdit @bind-Text="_phoneNumber" Role="TextRole.Telephone"/>
                                </Field>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel>
                                    Preferred Name
                                </FieldLabel>
                                <Field>
                                    <TextEdit @bind-Text="_preferredName"/>
                                </Field>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel>
                                    Facebook Handle
                                </FieldLabel>
                                <Field>
                                    <TextEdit/>
                                </Field>
                            </Field>
                        </Column>
                    </Row>
                </CardBody>
            </Card>
            <Card Background="Background.Transparent"
                  Height="Height.Is100"
                  Border="Border.Is0.OnTop.Is0.OnBottom.Is0.OnStart.Is2.Light.OnEnd.RoundedEnd">
                <CardTitle TextAlignment="TextAlignment.Start" Size="3">Staff Information</CardTitle>
                <CardBody>
                    <Row>
                        <Column ColumnSize="ColumnSize.IsHalf" Flex="Flex.Column.JustifyContent.Start.JustifyContent.Between">
                            <Switch TValue="bool" Size="Size.Medium">Black Shirt</Switch>
                            <Switch TValue="bool" Size="Size.Medium">Rave Approved</Switch>
                            <Switch TValue="bool" Size="Size.Medium">Needs Crash Space</Switch>
                        </Column>
                        <Column ColumnSize="ColumnSize.IsHalf" Flex="Flex.Column.JustifyContent.Start.JustifyContent.Between">
                            <Field Horizontal>
                                <FieldLabel>
                                    Role
                                </FieldLabel>
                                <Field>
                                    @if (!_staffRoles.Any())
                                    {
                                        <Span>
                                            <SpinKit Type="SpinKitType.Chase" Color="#ce2029" Centered/>
                                            Loading...
                                        </Span>

                                    }
                                    else
                                    {
                                        <Select @bind-SelectedValue="_roleId">
                                            <Repeater TItem="Role" Items="_staffRoles">
                                                <SelectItem TValue="Int32" Value="@context.Id">
                                                    @context.Role1
                                                </SelectItem>
                                            </Repeater>
                                        </Select>
                                    }
                                </Field>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel>
                                    Type
                                </FieldLabel>
                                <Field>
                                    @if (!_staffTypes.Any())
                                    {
                                        <Span>
                                            <SpinKit Type="SpinKitType.Chase" Color="#ce2029" Centered/>
                                            Loading...
                                        </Span>

                                    }
                                    else
                                    {
                                        <Select @bind-SelectedValue="_staffTypeId">
                                            <Repeater TItem="StaffType" Items="_staffTypes">
                                                <SelectItem TValue="Int32" Value="@context.Id">
                                                    @context.Title
                                                </SelectItem>
                                            </Repeater>
                                        </Select>
                                    }
                                </Field>
                            </Field>
                        </Column>
                    </Row>
                </CardBody>
            </Card>
            <Card Background="Background.Transparent" Height="Height.Auto">
                <CardTitle Size="3" TextAlignment="TextAlignment.Center">Actions</CardTitle>
                <Row>
                    <Column>
                        <Buttons Role="ButtonsRole.Toolbar" Flex="Flex.Column.JustifyContent.Between">
                            <Button Type="ButtonType.Submit" Color="Color.Primary" Border="Border.Is2.OnAll.Rounded.Light">
                                <LoadingTemplate>
                                    Creating Staff Member...
                                </LoadingTemplate>
                                <ChildContent>
                                    Create Staff
                                </ChildContent>
                            </Button>
                            <Button Type="ButtonType.Reset" Color="Color.Warning" Border="Border.Is2.OnAll.Rounded.Light" Margin="Margin.Is3.OnY">
                                Clear Form
                            </Button>
                            <Button Type="ButtonType.Link" Color="Color.Secondary" Border="Border.Is2.OnAll.Rounded.Light" To="/staffList">
                                Cancel
                            </Button>
                        </Buttons>
                    </Column>
                </Row>
            </Card>
        </CardDeck>
    </Form>
</Container>